<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam maiores debitis omnis illum sit exercitationem excepturi cum facilis. Odio ipsum hic eaque. Facere maiores repellat veniam dolorum numquam aspernatur sed, beatae non praesentium quod laboriosam, nostrum fugiat minus ducimus aliquid mollitia quidem odit? Labore omnis qui dolor odio illum deserunt.</p>
</section>