---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Acerca de nosotros'>
	<h1>Acerca de nosotros</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora maiores earum voluptate sequi cupiditate ad reprehenderit adipisci quo? Nihil modi pariatur qui neque consectetur tempora maxime accusantium cumque labore dicta.</p>
</Layout>

